$sidebarBackground: #181818;
$contentBackground: #fff;
$asidePadding: 25px;
$secondaryColor: #0196ca;

@mixin transition($property, $time) {
  -webkit-transition: $property, $time, linear;
     -moz-transition: $property, $time, linear;
       -o-transition: $property, $time, linear;
          transition: $property, $time, linear;
}

@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    transform: rotate($deg);
}

@keyframes logo {
    0% {
        top: 0;
    }
    
    30% {
        top: -30px;
    }
 
    70% {
        top: 40px;
    }
    
     100% {
        top: 0;
    }
}

@-webkit-keyframes logo {
    0% {
        top: 0;
    }
    
    30% {
        top: -30px;
    }
 
    70% {
        top: 40px;
    }
    
     100% {
        top: 0;
    }
}

ul {
    padding: 0;
    list-style: none;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    background: $sidebarBackground;
    max-width: 1920px;
    margin: 0 auto;
}

//   sidebar

.sidebar {
    text-align: right;
    padding: 0;
    position: relative;
}

img.logo {
    animation: logo 3s linear;
    margin: 60px $asidePadding 50px 0;
    position: relative;
}

.navigation-menu {
    li {
        padding: 3px 25px;
        margin-bottom: 10px;
        @include transition(all, 0.4s);
    }
    
    li:hover {
        background: $secondaryColor;
    }
    
    a {
        text-transform: uppercase;
        color: #fff;
    }
    
    a:focus {
        text-decoration: none;
    }
}

.aside-menu {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    z-index: 100;
    background: $secondaryColor;
    width: 100%;
    text-align: left;
    min-width: 0;
}

.aside-menu {
    p {
        color: #000;
        font-weight: 700;
        padding: 0 15px;
        margin: 20px 0 10px;
    }
    
    li {
        padding: 0;
    }
    
    a {
        color: #fff;
        text-transform: none;
    }
    
    .sub-menu li {
        padding: 2px 15px;
        margin-bottom: 5px;
        line-height: 16px;
    }
    
    .sub-menu li:hover {
        background: #000;
    }
}

.social-icons {
    margin-top: 165px;
    margin-bottom: 15px;
    padding-right: $asidePadding;
}

.social-icons {
    a {
        display: inline-block;
        width: 30px;
        height: 30px;
        padding-top: 3px;
        text-align: center;
        @include transition(all, 0.4s);
    }
    
    a + a {
        margin-left: 2px;
    }
    
    a:hover {
        @include rotate(360deg);
    }
    
    a.google:hover {
        background: #ff6d4b;
    }
    
    a.twitter:hover {
        background: #29c3ff;
    }
    
    a.facebook:hover {
        background: #4a6195;        
    }
    
    a.vk:hover {
        background: #6a96c7;
    }    
}

.languages {
    padding-right: $asidePadding;
}

.languages {
    a {
        display: inline-block;
        color: #fff;
        padding: 2px 7px;
        font-size: 11px;
        border: 2px solid transparent;
        @include transition(all, 0.4s);
    }
    
    a.selected {
        border-bottom: 2px solid $secondaryColor;
    }
    
    a:hover {
        border: 2px solid $secondaryColor;
    }
}

.copyright {
    margin: 18px $asidePadding;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
}

.copyright {
    span {
        display: inline-block;
    }
}

.navbar-brand>img {
    display: inline;
}

.navbar-brand {
    float: none;
    padding: 0;
}

.navbar-toggle {
    border-color: $secondaryColor;
    margin-top: 17px;
    margin-bottom: 0;
}

.navbar-toggle .icon-bar {
    background: $secondaryColor;
}

.navbar-collapse {
    box-shadow: none;
    padding: 15px 0 0;
}

//   sidebar End

//   main content

.main-content {
    background: $contentBackground;
    padding: 0;
}

.cv {
    position: absolute;
    bottom: 16%;
    left: -50px;
}

#top-slider {
    .slide-img {
        width: 100%;
        height: auto;
    }
    
    .carousel-caption {
        text-shadow: none;
        padding: 0;        
        left: 5%;
        right: 5%;
    }
    
    .greeting {
        top: 55px;
        bottom: auto;
        font-size: 25px;
    }   
    
    .greeting.hue {
        color: #000;
    }
    
    .main-phrase {
        top: 25%;
        bottom: auto;
        font-weight: 800;
        font-size: 60px;
    }     

    .main-phrase.hue {
        color: #028fc0;
    }
    
    .additional-phrase {
        top: 42%;
        bottom: auto;
        text-transform: uppercase;
        font-size: 20px;  
    }
    
    .additional-phrase p {
        padding-left: 10px;
        padding-right: 10px;
        background: rgba(1,150,202,0.6);
        display: inline-block;
        margin-bottom: 0;
    }
    
    .request {
        bottom: 15%;
    }
    
    .request a {
        font-size: 25px;
        color: #fff;
        display: inline-block;
        border: 2px solid $secondaryColor;
        padding: 10px 40px;
        @include transition(all, 0.5s);
    }
    
    .request a.hue {
        color: #000;
    }
    
    .request a:hover {
        background: $secondaryColor;
    }
    
    .carousel-indicators {
        bottom: 0;    
    }
    
    .carousel-indicators li {
        width: 12px;
        height: 12px;
        border-radius: 12px;
        background: #fff;
        border: none;
        margin: 3px;
    }
    
    .carousel-indicators .active {
        width: 12px;
        height: 12px;
        border: none;
        background: $secondaryColor;
    }
}

.section-title {
    font-size: 40px;
    margin: 40px auto 60px;
}

.section-title.hue {
    color: $secondaryColor;
}

.advantage {
    border: 2px solid #f0f0f0;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
}

.advantage {
    .title {
        font-size: 25px;
        position: absolute;
        margin: 0 auto;
        top: -17px;
        right: 5%;
        left: 5%;
    }
    
    .title span {
        background: #fff;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .img-wrapper {
        height: 180px;
        line-height: 180px;
    }
    
    .thesis-wrapper {
        height: 190px;
    }
    
    p {
        text-align: left;
        padding-right: 15px;
        padding-left: 15px;
        line-height: 16px;
        margin-bottom: 15px;
    }
    
    .learn-more {
        position: absolute;
        bottom: -17px;
        left: 5%;
        right: 5%;
    }
    
    .learn-more a {
        display: inline-block;
        padding: 5px 30px;
        background: #fff;
        border: 2px solid $secondaryColor;
        font-weight: 700;
        color: #000;
        @include transition(all, 0.5s);
    }
    
    .learn-more a:hover {
        color: #fff;
        background: $secondaryColor;
    }
}

.slick-slide img {
    display: inline;
}

.clients-slider {
    margin-bottom: 30px;
}

.clients {
    height: 65px;
    line-height: 65px;
    text-align: center;
}

.about-company {
    margin: -30px 0 30px;
}

.about-company p {
    text-indent: 25px;
    margin: 0;
}

.about-company p.gap {
    margin-top: 20px;
}

//   main content End
